{% extends "layout_dashboard.html" %}
{% block title %}View Lezione{% endblock %}
{% if session['tipo_definitivo'] == 'Admin' %}
    {% block content %}
        <div class="flex bg-gray-50 dark:bg-slate-800 py-[5%]">
            <div class=" my-4 m-auto">
                <div class="flex md:gap-5 gap-2">
                    <a href="{{ url_for('lezioni') }}">
                        <img src="{{ url_for('static',filename = 'immage/arrow-small-left3.png') }}" alt="">
                    </a>
                    <h1 class="mb-5 text-center text-3xl dark:text-white text-black m-auto">Informazioni Lezione</h1>
                </div>

                <table class="text-center table table-striped">
                    <tr class="animation-delay-100 animate__animated animate__fadeInLeft">
                        <td class="text-lg">Id Lezione</td>
                        <td>{{ lezione.id_lezione }}</td>
                    </tr>
                    <tr class="animation-delay-300 animate__animated animate__fadeInLeft">
                        <td class="text-lg">Corso</td>
                        <td>{{ corso.nome }}</td>
                    </tr>
                    <tr class="animation-delay-500 animate__animated animate__fadeInLeft">
                        <td class="text-lg">Professore</td>
                        <td>{{ lezione.professore }}</td>
                    </tr>
                    <tr class="animation-delay-700 animate__animated animate__fadeInLeft">
                        <td class="text-lg">Argomento</td>
                        <td>{{ lezione.argomento }}</td>
                    </tr>
                    <tr class="animation-delay-900 animate__animated animate__fadeInLeft">
                        <td class="text-lg">Data</td>
                        <td>{{ lezione.data }}</td>
                    </tr>
                    
                </table>
                <div class="text-center m-auto">
                    <hr class="my-4 dark:border-slate-200 border-gray-300 border-2 animation-delay-1200 animate__animated animate__bounceIn">
                        <a href="{{ url_for('utenti') }}">
                            <button class="btn m-auto btn-primary mt-4 animation-delay-1200 animate__animated animate__bounceIn text-slate-300 hover:text-slate-100">Dashboard</button>
                        </a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}
{% if session['tipo_definitivo'] == 'Docente' %}
    {% block dashboard_docente %}
        <div class="flex bg-gray-50 dark:bg-slate-800 py-[5%]">
            <div class=" my-4 m-auto">
                <div class="flex md:gap-5 gap-2">
                    <a href="{{ url_for('lezioni_docenti') }}">
                        <img src="{{ url_for('static',filename = 'immage/arrow-small-left3.png') }}" alt="">
                    </a>
                    <h1 class="mb-5 text-center text-3xl dark:text-white text-black m-auto">Informazioni Lezione</h1>
                </div>

                <table class="text-center table table-striped">
                    <tr class="animation-delay-100 animate__animated animate__fadeInLeft">
                        <td class="text-lg">Id Lezione</td>
                        <td>{{ lezione.id_lezione }}</td>
                    </tr>
                    <tr class="animation-delay-300 animate__animated animate__fadeInLeft">
                        <td class="text-lg">Corso</td>
                        <td>{{ corso.nome }}</td>
                    </tr>
                    <tr class="animation-delay-500 animate__animated animate__fadeInLeft">
                        <td class="text-lg">Professore</td>
                        <td>{{ lezione.professore }}</td>
                    </tr>
                    <tr class="animation-delay-700 animate__animated animate__fadeInLeft">
                        <td class="text-lg">Argomento</td>
                        <td>{{ lezione.argomento }}</td>
                    </tr>
                    <tr class="animation-delay-900 animate__animated animate__fadeInLeft">
                        <td class="text-lg">Data</td>
                        <td>{{ lezione.data }}</td>
                    </tr>
                    
                </table>
                <div class="text-center m-auto">
                    <hr class="my-4 dark:border-slate-200 border-gray-300 border-2 animation-delay-1200 animate__animated animate__bounceIn">
                        <a href="{{ url_for('lezioni_docenti') }}">
                            <button class="btn m-auto btn-primary mt-4 animation-delay-1200 animate__animated animate__bounceIn text-slate-300 hover:text-slate-100">Dashboard</button>
                        </a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}