{% extends "layout_dashboard.html" %}

{% block title %}Presenze{% endblock %}
{% block content %}
    <div class=" my-4 m-auto">
        <div class="flex md:gap-5 gap-2">
            <a href="{{ url_for('lezioni') }}">
                <img src="{{ url_for('static',filename = 'immage/arrow-small-left3.png') }}">
            </a>
            <h1 class="mb-3 text-center text-3xl dark:text-white text-black m-auto">{{ lezione.argomento }}</h1>
        
        </div>
        <form action="" method="post">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Presenza</th>
                    </tr>
                    
                </thead>
                <tbody class="text-center md:text-base text-xs">
                    {% for studente in lista_studenti %}
                    <tr>
                        <td>{{ studente.id_utente }}</td>
                        <td>{{ studente.nome }}</td>
                        <td class="mr-20">{{ studente.cognome }}</td>
                        <td class="flex gap-7 m-auto">
                            <input type="checkbox" name="studente_selezionato" value="{{ studente.id_utente }}" class="bg-slate-700 m-auto"/>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Invia Presenze" class="btn btn-primary mt-4 animation-delay-500 animate__animated animate__bounceIn text-slate-300 hover:text-slate-100">
        </form>
    </div>
{% endblock %}